extends base

block content 
    hr
    div
        p=video.description
        p=video.hashtags
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
    hr